footer{
    background-color: #FFFFFF;
    ;
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    right: 0;
}

footer input{
    width: 90vw;

    border: none;
    color: black;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
}

.botao-enviar {
    margin: 16px 2vw;
    font-size: 50px;

}
