.barra-lateral{
    position: fixed;
    z-index: 4;

    background-color: #FFFFFF;
    width: 60vw;
    height: 100%;
    
    top: 0;
    right: 0;

    font-family: Roboto;
    font-style: normal;
    font-size: 16px;

    padding-left: 20px;
}
.fundo-barra-lateral {
    background-color: rgba(0, 0, 0, 0.5);

    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 2;
}

.fundo-barra-escondido{
    display: none;
}

.informacao{
    font-weight: bold;
    text-align: center;
}

.contato{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    height: 40vh;
    overflow-y: auto;
}
.contato .contato-barra-lateral{
    font-size: 20px;
    margin-right: 8px;
}

.participantes{ 
    display: flex;
    align-items: center;
    
}

.caixa-contato-participantes{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
   
}

.participante-selecionado{
    border-radius: 9px;
    border: 3px solid;
    border-color: #28BB25;

}

.status-mensagem{
    border-radius: 9px;
    border: 3px solid;
    border-color: #28BB25;
}

.tipo-mensagem  .tipos{
    display: flex;
    align-items: center;
}
.tipo-mensagem  .tipos .info-icone{
    margin-left: 8px;
}

.barra-escondida{
    display: none;
}

.fechar-barra{
    position: relative;
    top: -65vh;
    left: 54vw;
    font-size: 50px;
}
